//Variables
@import "../globals";

.brief-modules-stats {
    border-left: 2px solid;
    padding-left: 5px;
    margin: 0 0 15px 5px;
    line-height: 1;
    
    &__percentageValue{
        font-size: 2em;
    }
    &__value{
        font-size: .8em;
    }
    &__title{
        font-size: .9em;
        text-transform: uppercase;
    }
}

.brief-modules-stats-default {
    @extend .brief-modules-stats;
    border-color: $grey-color;
}

.brief-modules-stats-success {
    @extend .brief-modules-stats;
    border-color: $success-color;
}

.brief-modules-stats-warning {
    @extend .brief-modules-stats;
    border-color: $alert-color;
}

