@import "../globals";

.environment-status{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: .7;
}

.environment-status--no-data{
    @extend .environment-status;
    background: $grey-color;
}

.environment-status--alive{
    @extend .environment-status;
    background: $success-color;
}

.environment-status--partially-alive{
    @extend .environment-status;
    background: $warning-color;
}

.environment-status--broken{
    @extend .environment-status;
    background: $alert-color;
}

$states:
    "--alive" $success-color,
    "--partially-alive" $warning-color,
    "--broken" $alert-color,
    "--no-data" $grey-color;

.environment-status--flat{
    @extend .environment-status;
    width: 48px;
    height: 3px;
    margin: 2px 1px 2px 0;
    border-radius: 0;
    opacity: .7;
}

@each $i in $states{
    .environment-status#{nth($i, 1)}--flat{
        @extend .environment-status--flat;
        background: nth($i, 2);
    }
}