@import "../globals";

$default-label-color: #777;

//Block
.c-label{
    display: inline-block;
    font-size: 75%;
    color: #fff;
    border-radius: 0;
    padding: 4px 7px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
    //Modificators
    &_round{
        border-radius: 50%;
    }
    
    &_default{
        background-color: $default-label-color;
    }
    
    &_primary{
        background-color: $primary-color;
    }
    
    &_secondary{
        background-color: $secondary-color;
    }
    
    &_success{
        background-color: $success-color;
    }
    
    &_alert{
        background-color: $alert-color;
    }
    
    &_light{
        background-color: $light-grey-color;
        color: $dark-color;
    }
    
    &_dark{
        background-color: $dark-color;
    }
    
    &_inherit{
        font-weight: inherit;
    }
}