@import "../globals";

.module-card{
    &__title{
        color: $tr-color;
        font-size: 1.5em;
    }
    
    &__subtitle{
        height: 100% !important;
        line-height: 20px !important;
        font-size: .9em !important;
    }
    
    &__type{
        margin: 0 0 10px 0;
        border-bottom: 1px solid $tr-color;
    }
    
    &__label{
        background-color: $tr-color;
        color: #fff;
        padding: 2px 5px;
        &--green{
            @extend .module-card__label;
            background-color: $success-color;
        }
        &--red{
            @extend .module-card__label;
            background-color: $alert-color;
        }
    }
    
    &__section-title{
        float:left;
        width: 20%;
        padding: 5px;
        line-height: 20px;
        border-left: 1px solid $tr-color;
    }
    
    &__chart{
        float: right;
        width: 80%;
    }
    
    &__server-name{
        font-size: .8em;
    }
    
    &__log-info{
        padding: 20px;
        &--error{
            @extend .module-card__log-info;
            background: #FCDED9;
        }
        &--success{
            @extend .module-card__log-info;
            background: #DFEFD2;
        }
        &__section{
            border-left: 1px solid $tr-color;
            padding: 2px 5px;
            margin: 0 0 5px 0;
        }
        &__code-error{
            color: $alert-color;
        }
        &__code-ok{
            color: $success-color;
        }
    }
    
}