@import "../globals";

$border-color: #E07000;
$line-hieght: 70px;

//Block
.c-navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    
    //Modificators
    &_default{
        background-color: $primary-color;
        border-color: $border-color;
    }
    &_fixed-top {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1000;
        border-width: 0 0 1px;
    }
    
    //Elements
    &__container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }
    &__header{
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
    &__nav{
        float: left;
        margin: 0;
    }
    &__nav-right{
        float: right;
    }
    &__menu{
        float: right;
        display: block;
        padding: 0 18px;
        line-height: $line-hieght;
        color: white;
    }
    &__user-avatar{
        line-height: $line-hieght;
        color: white;
        font-size: 14px;
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%;
        vertical-align: middle;
    }
    &__item{
        float: left;
        display: block;
        position: relative;
    }
    &__link-item{
        line-height: $line-hieght;
        color: white;
        font-size: 14px;
        padding: 0 18px;
        outline: 0;
        text-decoration: none;
    }
    &__icon-item{
        @extend .c-navbar__link-item;
        padding: 0 9px;
    }
}