@import "../globals";
@import "product-brief-card";

.product-overview-card{
    
    &__title{
        display: block;
        margin: 10px 0 0 0;
        
    }
    &__subtitle{
        margin: 11px -18px 0 -72px;
        display: block;
    }
    
    &__section-header{
        font-size: .8em;
    }
    
    &__env-table{
        table-layout: fixed;
        width: 100%;
        border: none;
        
        tr.alt, tr.even, tr:nth-of-type(even){
            background: none;
        }
        
        &__cell{
            padding: .5625rem .15rem;
            
            &__value{
                font-size:1.2em;
                
                &--alive{
                    @extend .product-overview-card__env-table__cell__value;
                    color: $success-color;
                }
                &--partially-alive{
                    @extend .product-overview-card__env-table__cell__value;
                    color: $warning-color;
                }
                &--broken{
                    @extend .product-overview-card__env-table__cell__value;
                    color: $alert-color;
                }
                &--no-data{
                    @extend .product-overview-card__env-table__cell__value;
                    color: $grey-color;
                }
            }
        }
        
        &__hotprod-column {
            white-space: nowrap;
            font-size: .5em;
        }
        
        &__hotprod-icon {
            font-size: 16px !important;
            vertical-align: top;
            color: $alert-color !important;
        }
    }
}