//Variables
@import "../globals";

.product-brief-card {

    &__card-header{
        font-size: 1.5em;
    }
    &__left-panel{
        width: 50%;
        float: left;
        
        &__pie-chart {
            margin-top:20px;
        }
        
        &__counter-wrapper {
           //margin-top: -135px;
           margin-top: -95px;
	       text-align: center;
        }
        
        &__counter {
           font-size: 72px;
	       font-weight: 100;
           color: $success-color;
        }
    }
    &__right-panel{
        width: 50%;
        float: right;
    }
    &__more-info{
        float: right;
        &__icon{
            color: $tr-color !important;
        }
    }
    &__timestamp{
        float: left;
        padding: 16px;
        font-size: .8em;
        color: $grey-color;
    }
}