@import "../globals";

$default-card-border-color: #ddd;

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 18px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    
    >thead>tr>th {
        padding: 15px 10px 10px 10px;
        font-weight: 400;
        font-size: 13px;
        vertical-align: bottom;
        border-bottom: 1px solid $default-card-border-color;
    }
    
    >tbody>tr>td {
        font-weight: 300;
        vertical-align: middle;
        padding: 12px 10px;
        border-top: 1px solid $default-card-border-color;
        
        &.user-avatar img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}

th{
    text-align: left;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table>tbody.no-border-x>tr>td {
    border-top-width: 0;
}

.table-fw-widget tr td:first-child, .table-fw-widget tr th:first-child {
    padding-left: 15px;
    font-weight: 400;
}

.tr{
    &_alert{
        border-left: 2px solid $alert-color;
    }
}