@import "../globals";

.toolbar{
    padding: 15px 20px;
    margin: 10px 2px;
    background: #fff;
    
    &__switcher{
        float: left;
        width: 180px;
        margin-top: 15px;
    }
    
    &__datepicker{
        float: left;
        width: 100px;
    }
    
    &__search{
        float: right;
        margin-top: -24px;
    }
    
    &__filter{
        float: right;
        margin-top: -8px;
    }
    
    &__date{
        width: 450px;
        margin: 0 auto;
    }
    
    &__datepicker{
        float: left;
    }
    &__datepicker-label{
        margin: 12px 10px 0 20px;
    }
    &__datepicker-icon{
        vertical-align: bottom;
        color: $tr-color !important;
        margin: 0 2px 0 0;
    }
}