//Variables
@import "../globals";

//Block
.env-info-header{
    padding: .5em .1em;
    
    //Elements
    &__value{
        font-size:1.2em;
        
        //Modificators
        &_alive{
            color: $success-color;
        }
        
        &_partially-alive{
            color: $warning-color;
        }
        
        &_broken{
            color: $alert-color;
        }
        
        &_no-data{
            color: $grey-color;
        }
    }
}