//Variables
@import "../globals";

//Colors
$default-card-color: white;
$default-card-border-color: #DDD;
$default-card-text-color: #333;
$alert-background-color: #FEEFEC;
$alert-border-color: #FBBEB1;

//Block
.w-card{
    background-color: $default-card-color;
    margin-bottom: 30px;
    box-shadow: none;
    border: none;
    border-radius: 0;
    
    //Modificators
    &_borders{
        border: 1px solid $default-card-border-color;
    }
    
    &_transparent{
        background-color: transparent; 
    }
    
    &_primary{
        background-color: $primary-color;
        color:white;
    }
    
    &_secondary{
        background-color: $secondary-color;
        color:white;
    }
    
    &_dark{
        background-color: $dark-color;
        color:white;
    }
    
    &_alert{
        background-color: $alert-background-color;
    }
    
    &_alert-borders{
        border: 1px solid $alert-border-color;
    }
    
    //Elements
    &__header{
        font-size: 13px;
        font-weight: 300;
        padding: 20px 0 15px 0;
        margin: 0 20px;
        border-bottom: 1px solid transparent;
        color: $default-card-text-color;
        background-color: transparent;
        border-color: $default-card-border-color;
        
        //Modificators
        &_fullwidth{
            margin: 0;
            padding-left: 20px;
            padding-right: 20px;
        }
        
        &_primary{
            @extend .w-card__header_fullwidth;
            color: white;
            background-color: $primary-color;
            border-color: $primary-color;
        }
        
        &_full-primary{
            color: white;
            border-color: white;
        }
        
        &_secondary{
            @extend .w-card__header_fullwidth;
            color: white;
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
        
        &_full-secondary{
            color: white;
            border-color: white;
        }
        
        &_dark{
            @extend .w-card__header_fullwidth;
            color: white;
            background-color: $dark-color;
            border-color: $dark-color;
        }
        
        &_full-dark{
            color: white;
            border-color: #333232;
        }
        
        &_no-border{
            border-width: 0;
        }
        
        //Elements
        &-title{
            float: left;
            font-size: 18px;
            font-weight: 300;
            display: block;
            margin: 0;
        }
        
        &-primary-toolbar{
            float: right;
            margin-left: 10px;
        }
        
        &-secondary-toolbar{
            float: right;
        }
    }
    
    &__footer{
        font-size: 12px;
        font-weight: 400;
        padding: 20px 0 15px 0;
        margin: 0 20px;
        border-top: 1px solid transparent;
        color: $default-card-text-color;
        background-color: transparent;
        border-color: $default-card-border-color;
        
        //Modificators
        &_fullwidth{
            margin: 0;
            padding-left: 20px;
            padding-right: 20px;
        }
        
        &_primary{
            @extend .w-card__footer_fullwidth;
            color: white;
            background-color: $primary-color;
            border-color: $primary-color;
        }
        
        &_full-primary{
            color: white;
            border-color: white;
        }
        
        &_secondary{
            @extend .w-card__footer_fullwidth;
            color: white;
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
        
        &_full-secondary{
            color: white;
            border-color: white;
        }
        
        &_dark{
            @extend .w-card__footer_fullwidth;
            color: white;
            background-color: $dark-color;
            border-color: $dark-color;
        }
        
        &_full-dark{
            color: white;
            border-color: #333232;
        }
        
        &_no-border{
            border-width: 0;
        }
        
        //Elements
        &-left-panel{
            float: left;
        }
        
        &-right-panel{
            float: right
        }
    }
    
    &__body{
        padding: 15px 20px 20px;
        font-size: 13px;
        line-height: 21px;
        font-weight: normal;
    }
}