//Block
.w-product-family-card{
    //Elements
    &__pie-chart{
        width: 50%;
        float: left;
        margin-top: 10px;
    }
    &__pie-chart-indicator {
        margin-top: -90px;
        text-align: center;
    }
    &__chart-info{
        width: 50%;
        float: right;
    }
}