i.step {
	display: inline-block;
	line-height: 1;
	width: 10%;
}


i.size-12 { font-size: 12px; }

i.size-14 { font-size: 14px; }

i.size-16 { font-size: 16px; }

i.size-18 { font-size: 18px; }

i.size-21 { font-size: 21px; }

i.size-24 { font-size: 24px; }

i.size-28 { font-size: 28px; }

i.size-36 { font-size: 36px; }

i.size-48 { font-size: 48px; }

i.size-60 { font-size: 60px; }

i.size-72 { font-size: 72px; }

.icon-bar > * {
  font-size: 1rem;
  padding: .5rem;
}

a.logo{
	font-size: 20px;
	font-weight: 100;
	line-height: 3;
}

.icon-bar > a.logo:hover {
	background: none;
}

.columns {
	padding-left: .2em;
	padding-right: .2em;
}

.panel{
	background: #fff;
	border-color: #ddd;
	margin-bottom: .4em;
}

.panel:hover {
	border-color: #ff8000;
}

.panel-warning{
	background-color: #FFEBEE;
}

.panel-success{
	border-left: 5px solid #AED581;
	border-color:#AED581;
}

.env-name{
	font-size: 36px;
	font-weight: 100;
	color: #777;
}

.status-general-wrapper {
	float: left;
    position: relative;
    left: 50%;
}

.status-general {
	float: left;
    position: relative;
    left: -50%;
	font-size: 21px;
}

.agenda-item{
	border-left: 2px solid;
	padding-left: 5px;
	margin: 0 0 15px 5px;
	line-height: 1;
}

.agenda-item-title{
	text-transform: uppercase;
	font-size: 12px;
}

.agenda-item-info{
	font-size: 12px;
}

.card-section-title{
	text-transform: uppercase;
	font-size: 14px;
}

.item-ct-series-a{
	border-color: #9E9E9E;
}

.item-ct-series-b{
	border-color: #F44336;
}

.ct-series-a{
	border-color: #9E9E9E;
}
.ct-series-b{
	border-color: #F44336;
}
.ct-series-c{
	border-color: #AED581;
}

.agenda-item-value{
	font-size: 28px;
}

.no-data{
	color: #9E9E9E;
}

.issue{
	color: #F44336;
}

.success{
	color: #689F38;
}

.font-middle{
	font-weight: 500;
}

.current-availability-chart{
	margin-top:30px;
}

.ct-bar {
	stroke-width: 7px;
}
.ct-series-a .ct-slice-donut{
	stroke: #9E9E9E;
}
.ct-series-b .ct-slice-donut{
	stroke: #F44336;
}
.ct-series-c .ct-slice-donut{
	stroke: #AED581;
}

.ct-series-a .ct-area{
	fill: #AED581;
	fill-opacity: 1;
}

.ct-label.ct-horizontal{
	font-size: .6rem;
}

.left-status-panel{
	width: 50%;
	float: left;
}

.right-status-panel{
	width: 50%;
	float: right
}

.more-info{
	color:#777;
	float: right;
}

.vertical-align-text-top{
	vertical-align: text-top;
}
