@import "globals";

.pie-series-a .ct-slice-donut {
    stroke: $success-color;
}

.pie-series-b .ct-slice-donut {
    stroke: $alert-color;
}

.pie-series-c .ct-slice-donut {
    stroke: $grey-color;
}

.area-series-a {
    .ct-area {
        fill: $success-color;
        fill-opacity: .5;
    }
    .ct-line{
        stroke: $success-color;
        stroke-width: 1px;
    }
    .ct-point{
        stroke: $success-color;
        stroke-width: 4px;
    }
}

.area-label{
    display: flex;
    color: black;
    line-height: 1;
    
    &.ct-horizontal{
        font-size: .6em;
        
        &.ct-end{
            align-items: flex-start;
            justify-content: flex-start;
            text-align: left;
            text-anchor: start;
        }
    }
    
    &.ct-vertical{
        &.ct-start{
            align-items: flex-end;
            justify-content: flex-end;
            text-align: right;
            text-anchor: end;
        }
    }
}

.build {
    stroke-width: 7px;
}

.build-series-a {
    .build{
        stroke: #689F38;
        cursor: pointer;
        &:hover{
            opacity: .5;
        }
    }
}

.build-series-b {
    .build{
        stroke: #f04124;
        cursor: pointer;
        &:hover{
            opacity: .5;
        }
    }
}

.build-series-c {
    .build{
        stroke: #9e9e9e;
        cursor: pointer;
        &:hover{
            opacity: .5;
        }
    }
}