@import "globals";

body{
	background-color:#eee;
	color: #555;
    font-family: $primary-font;
	font-weight: 300;
}

.app-bar{
    background-color: $tr-color !important;
    
    a{
        text-decoration: initial;
    }
    
    &__title{
        font-family: $primary-font;
        white-space: nowrap;
        overflow: hidden;
        text-transform: uppercase;
        text-overflow: ellipsis;
        margin: 0;
        padding-top: 0;
        letter-spacing: 0;
        font-size: 24px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.87);
        line-height: 64px;
        -webkit-box-flex: 1;
        flex: 1;
    }
    
    &__links{
        min-width: 500px;
        margin-top: 8px;
        
        &__item{
            display: inline-block;
            width: 100%;
            line-height: 3;
            color: #fff;
        }
        &__item:hover, &__item:focus{
            color: #fff;
        }
    }
}

.card {
    margin-bottom: .8em;
}

.section-title{
	border-left: 1px solid $tr-color;
	padding-left: 10px;
	margin-left: 3px;
}