//Global Fonts
$primary-font: 'Open Sans', sans-serif;

//Global Colors
$primary-color: #ff8000 !default;
$secondary-color: #a0d3e8 !default;

$alert-color: #f04124 !default;
$success-color: #689F38 !default;
$warning-color: #ff8000  !default;
$info-color: $secondary-color;

$grey-color: #9e9e9e !default;
$light-grey-color: #e4e4e4 !default;
$dark-color: #3d3c3c;

$tr-color: $primary-color;
