.button, button{
    margin: 0;
}

.ct-label{
    color: #000;
}

.ct-bar {
    stroke-width: 10px;
}

.ct-series-a .ct-bar{
    stroke: #689F38;
    cursor: pointer;
    &:hover{
        opacity: .5;
    }
}

.ct-series-b .ct-bar{
    stroke: #f04124;
    cursor: pointer;
    &:hover{
        opacity: .5;
    }
}

.ct-series-c .ct-bar{
    stroke: #9e9e9e;
    cursor: pointer;
    &:hover{
        opacity: .5;
    }
}