@import "globals";

//Alignment
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.vertical-align_middle{
    vertical-align: middle
}

.text-primary-color{
    color: $primary-color;
}
.text-secondary-color{
    color: $secondary-color;
}
.text-alert-color{
    color: $alert-color;
}
.text-success-color{
    color: $success-color;
}
.text-warning-color{
    color: $warning-color;
}
.text-info-color{
    color: $secondary-color;
}
.text-grey-color{
    color: $grey-color;
}
.text-light-grey-color{
    color: $light-grey-color;
}
.text-dark-color{
    color: $dark-color;
}

//-----Font weights-----
@for $i from 1 through 9{
    .f-weight-#{$i*100}{
        font-weight: $i*100;
    }
}

//-----Font sizes-----

// .f-large-1, .f-large-2, .f-large-3...
@for $i from 1 through 20{
    .f-large-#{$i}{
        font-size: (1 + $i/10)*1em;
    }
}
// .f-small-1, .f-small-2, .f-small-3...
@for $i from 1 through 9{
    .f-small-#{$i}{
        font-size: (1 - $i/10)*1em;
    }
}

//-----h1, h2, h3...-----
@for $i from 1 through 6{
    h#{$i}{
        font-weight: 300;
        line-height: 1.5;
    }
}